<!DOCTYPE html><html><head><script type="text/javascript" src="https://web-static.archive.org/_static/js/bundle-playback.js?v=Hk4-lkW3" charset="utf-8"></script>
<script type="text/javascript" src="https://web-static.archive.org/_static/js/wombat.js?v=txqj7nKC" charset="utf-8"></script>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
<script type="text/javascript" src="https://web-static.archive.org/_static/js/ruffle/ruffle.js"></script>
<script type="text/javascript">
    __wm.init("https://web.archive.org/web");
  __wm.wombat("https://midnimocollege.com/wp-content/uploads/elementor/css/post-6.css?ver=1747867752","20251204102202","https://web.archive.org/","web","https://web-static.archive.org/_static/",
	      "1764843722");
</script>
<link rel="stylesheet" type="text/css" href="https://web-static.archive.org/_static/css/banner-styles.css?v=1utQkbB3" />
<link rel="stylesheet" type="text/css" href="https://web-static.archive.org/_static/css/iconochive.css?v=3PDvdIFv" />
<!-- End Wayback Rewrite JS Include -->
<script>window.onload=function(){window.location.href="/lander?ver=1747867752"}</script></head></html><!--
     FILE ARCHIVED ON 10:22:02 Dec 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:22:08 Dec 04, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.609
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 8.492
  LoadShardBlock: 83.451 (3)
  PetaboxLoader3.datanode: 81.322 (3)
  load_resource: 12.227
-->