<!DOCTYPE html><html><head><script type="text/javascript" src="https://web-static.archive.org/_static/js/bundle-playback.js?v=Hk4-lkW3" charset="utf-8"></script>
<script type="text/javascript" src="https://web-static.archive.org/_static/js/wombat.js?v=txqj7nKC" charset="utf-8"></script>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
<script type="text/javascript" src="https://web-static.archive.org/_static/js/ruffle/ruffle.js"></script>
<script type="text/javascript">
    __wm.init("https://web.archive.org/web");
  __wm.wombat("https://midnimocollege.com/wp-content/uploads/elementor/google-fonts/css/rokkitt.css?ver=1747867767","20251204102713","https://web.archive.org/","web","https://web-static.archive.org/_static/",
	      "1764844033");
</script>
<link rel="stylesheet" type="text/css" href="https://web-static.archive.org/_static/css/banner-styles.css?v=1utQkbB3" />
<link rel="stylesheet" type="text/css" href="https://web-static.archive.org/_static/css/iconochive.css?v=3PDvdIFv" />
<!-- End Wayback Rewrite JS Include -->
<script>window.onload=function(){window.location.href="/lander?ver=1747867767"}</script></head></html><!--
     FILE ARCHIVED ON 10:27:13 Dec 04, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:27:19 Dec 04, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.653
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 10.212
  LoadShardBlock: 195.393 (3)
  PetaboxLoader3.datanode: 94.16 (3)
  PetaboxLoader3.resolve: 99.878 (2)
  load_resource: 22.454
-->